<h4>７日間分の投稿数</h4>
<table class="table table-bordered">
  <tr>
    <th>6日前</th>
    <th>5日前</th>
    <th>4日前</th>
    <th>3日前</th>
    <th>2日前</th>
    <th>1日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <% books.book_week_count.each do |count| %>
      <th><%= count %></th>
    <% end %>
  </tr>
</table>