<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <%= render'books/template', book: @book, user: current_user , following_users: @following_users, follower_users: @follower_users%>
    </div>
    <div class="col-md-8 offset-md-1 mt-3">
      <h2>Users</h2>
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <% @users.each do |user| %>
            <tbody>
              <tr>
                <td><%= image_tag user.icon(80,80) %></td>
                <td><%= user.name %></td>
                <td><%= link_to"Show", user_path(user.id) %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>