<% if user_signed_in? %>
  <div class="seach_form">
    <%= form_with url: search_path, method: :get do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit 'seach', class:"btn btn-info" %>
    <% end %>
  </div>
<% end %>